.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.scroll-to-top-button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s;
}

.scroll-to-top-button:hover {
    opacity: 0.8;
}
